
#about {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px 0;
}

#about img {
    width: 35%;
}

.about-text {
    width: 55%;

    font-size: 2rem;
    color: var(--color-dark-gray);
}

.about-text h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: normal;
}

.about-text p {
    line-height: 150%;
}

@media screen and (max-width: 1024px) {
    .about-text {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 768px) {
    .about-text {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 600px) {
    .about-text {
        font-size: 1.5rem;
        text-align: center;
    }

    #about {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    #about img {
        width: 75%;
    }
}