
.slider {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-size: cover;
    background-position: center;

    position: relative;

    margin-top: 50px;
}

.slider::after {
    content: "";
    background-color: white;
    opacity: 0.3;

    width: 100%;
    height: 100%;

    position: absolute;
   
}

.slider button {
    opacity: 0.6;
    background: none;
    border: none;
    cursor: pointer;

    font-size: 5rem;
    font-weight: bolder;
    color: black;

    padding: 250px 25px;

    z-index: 2;
}

.slider button:hover {
    opacity: 1;
}

.slider-text {
    z-index: 2;

    text-align: center;
    color: black;
    font-size: 3rem;
}

@media screen and (max-width: 768px) {
    .slider-text {
        font-size: 2rem;
    }

    .slider button {
        font-size: 4rem;
    }
}

@media screen and (max-width: 425px) {
    .slider-text {
        font-size: 1.5rem;
    }
}