:root {
  --color-dark-gray: #4a4a49;
  --color-light-gray: #dbd9d9;
  --color-orange: orange;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  font-size: 10px;
  font-family: sans-serif;

  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}
